@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-countainer {
  flex-grow: 1;
}

.page-countainer {
  width: 1200px;
  margin: 0 auto;
}

.count {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
}

.count-countainer {
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo {
  margin-left: 70px;
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  list-style-type: none;
  margin-left: auto;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.nav-button-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap ;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-other {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item:first-child {
  width: 1200px;
  height: 385px;
  display: flex;
}

.advantages-item:last-child {
  width: 1200px;
  height: 385px;
  display: flex;
}

.advantages-item {
  width: 400xp;
  height: 385px;
}

.advantages-item-countainer {
  display: flex;
  flex-direction: column;
}

.advantages-other h3 {
  color: #ffffff;
}

.service {
  margin-bottom: 96px;
}

.service-text-countainer {
  text-align: center;
  margin: 64px auto;
  max-width: 505px;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  list-style-type: none;
  display: flex;
}

.service-item {
  width: 230px;
  height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 81px 85px;
}

.service-item-color {
  background: rgba(131, 179, 211, 0.12);
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.service-item-description {
  font-size: 18px;
  line-height: 21px;
  max-width: 230px;
  display: inline-block;
  text-align: center;
}

.booking {
  text-align: center;
  max-width: 592px;
  margin: 0 auto 96px;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-description {
  margin-bottom: 54px;
}

button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.background-hero {
  background-color: aquamarine;
  background-image: url(../images/index-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-countainer {
  text-align: center;
  margin: 69px auto 90px;
  max-width: 651px;
}

.hero-title {
  margin-bottom: 25px;
}


.welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;

}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.button-search {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscription {
  background-image: url(../images/Subscribe-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top:0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 54px;
}

input {
  padding: 12px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  flex-grow: 1;
}

.button-subscribe {
  padding: 8px 50px;
  background-color: #82B3D3;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sub-countainer {
  text-align: center;
  padding: 96px 258px 104px;
  max-width: 684px;
}

.subscription-form {
  display: flex;
}

.page-footer-countainer {
  display: flex;
  width: 1060px;
  margin: 40px auto 30px;
}

.social-list {
  list-style-type: none;
  display: flex;
  width: 142px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.social-item {
  margin-right: auto;
}

.contacts-phone {
  width: 720px;
  text-align: center;
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

/* CATALOG */

.filter-background {
  background-image: url(../images/catalog/background-filter.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 4px;
  border: 0;
}

.button-reset {
  background: transparent;
}

.filter-countainer {
  padding: 35px 70px 70px 70px;
}

.search-result {
  margin: 0 auto;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.inner {
  margin: 0 auto;
  max-width: 1060px;
}

.list-countainer {
  margin: auto;
}

.pagination {
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style: none;
  padding: 0;
  gap: 20px;
}

.hotel-card {
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-content {
  padding: 20px;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotel-card-group, .hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
}

.show-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
}

.in-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
}

.pagination-item span {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-description-catalog {
  color: #333333;
}
